@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white min-h-screen;
    background-image: url("./assets/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  body > div {
    @apply min-h-screen;
    background: rgba(24, 46, 55, 0.5);
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[30px] font-bold leading-[140%] text-primary-1 tracking-tighter;
  }

  .h1-semibold {
    @apply text-[30px] font-semibold leading-[140%]  text-primary-1 tracking-tighter;
  }

  .h2-bold {
    @apply text-[25px] font-bold leading-[140%]  text-primary-1 tracking-tighter;
  }

  .h2-medium {
    @apply text-[25px] font-medium leading-[140%]  text-primary-1 tracking-tighter;
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[140%]  text-primary-1 tracking-tighter;
  }
  .h3-light {
    @apply text-[20px] font-light leading-[140%]  text-primary-1 tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%]  text-primary-1 tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%]  text-primary-1;
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%]  text-primary-1;
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%]  text-primary-1;
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%]  text-primary-1;
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%]  text-primary-1 tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%]  text-primary-1;
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%]  text-primary-1;
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%]  text-primary-1;
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%]  text-primary-1;
  }

  /* UTILITIES */

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply w-full;
  }
  .overview-grid {
    @apply w-full grid grid-cols-1  md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3;
  }

  .overview-card {
    @apply w-full grid grid-cols-2 rounded-[12px] p-5 h-[120px] min-h-[80px];
    background: rgba(24, 46, 55, 0.4);
  }

  .main-grid {
    @apply w-full grid grid-cols-1  md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3;
  }
  .activity-metrics-card {
    @apply w-full rounded-[12px] p-5;
    background: rgba(24, 46, 55, 0.4);
  }

  .team-details-grid {
    @apply w-full grid grid-cols-1;
  }
  /* TABLE */
  .transparent-table .rdt_Table,
  .transparent-table .rdt_TableHead,
  .transparent-table .rdt_TableHeadRow,
  .transparent-table .rdt_TableCol,
  .transparent-table .rdt_TableRow,
  .transparent-table .rdt_TableCell,
  .transparent-table .rdt_TableBody,
  .gvfhKe,
  .bNvKBt,
  .eqliEg:hover {
    background-color: transparent !important;
  }
}
